<HTML>
    <head>
     <meta charset="UTF-8">   
        <title>YT DOWN</title>
    </head>
    <body>
        <form action="/url" method="post">
            <input type="text" name="url" id="url">
            <button>Download</button>
        </form>


    </body>
</HTML>